.start {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;

  :global {
    .ant-input, .ant-input-password {
      outline: none;
      border: none;
      position: relative;
      border-radius: 0;
      border-bottom: 2px solid #1677ff; 

      &:hover, &:focus {
        box-shadow: none;
      }
    }

    .ant-btn {
      height: 60px;
      border-radius: 40px;
      padding-left: 50px;
      padding-right: 50px;
      font-size: 18px;
    }

    .ant-typography {
      text-align: center;
      margin-bottom: 5px;
    }

    div.ant-typography {
      font-size: 16px;
      margin-bottom: 25px;
    }
  }

  .wrapperButton {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 20px;
  }

  .login {
    display: flex;
    justify-content: end;
    width: 100%;
    text-decoration: underline;
    color: blue;
    margin-top: 30%;
  
    & a {
      color: blue;
    }
  }
}
